.hide {
  display: none !important;
}

.active {
  color: rgb(56, 89, 160);
}

#navbar {
  border: solid black 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar p {
  margin: 5px;
}

#menu {
  display: flex;
  list-style: none;
  margin: 0 15px;
  padding-inline-start: 0;
}

.menu-links {
  padding: 0 10px;
}

#date {
  text-align: end;
  font-size: 12px;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#awesome-list {
  display: flex;
  flex-direction: column;
}
 
#book-list {
  border: solid black 3px;
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr:nth-child(even) {
  background: #ccc;
}

tr:nth-child(odd) {
  background: #fff;
}

span > * {
  height: 20px;
}

.remove-button {
  background-color: white;
}

#add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

input {
  margin: 5px;
  border: solid black 3px;
}

#add-book-button {
  align-self: flex-end;
}

#copyright {
  border: solid black 3px;
  margin-top: 30px;
}