body {
  background-color: white;
  font-family: 'Indie Flower', cursive;
}

#header {
  text-align: center;
}

#book-list {
  border: solid black 3px;
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr:nth-child(even) {
  background: #CCC
}

tr:nth-child(odd) {
  background: #FFF
}

tr > * {
  height: 20px;
}

.remove-button {
  background-color: white;
  box-shadow: black;
}