h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#awesome-list {
  display: flex;
  flex-direction: column;
}
 
#book-list {
  border: solid black 3px;
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr:nth-child(even) {
  background: #ccc;
}

tr:nth-child(odd) {
  background: #fff;
}

span > * {
  height: 20px;
}

.remove-button {
  background-color: white;
}

#add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Indie Flower', cursive;
}

form {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

input {
  margin: 5px;
  border: solid black 3px;
}

#add-book-button {
  align-self: flex-end;
}

.show {
  display: flex;
}

.hide {
  display: none;
}